input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button {  
   opacity: 1;
}

#root {
   display: block;
}

.screen {
   display: none;
}

#btn-how-to {
   display : block;
}